{% extends 'base.html' %}
{% load staticfiles likes %}

{% block title %}Альбомы{% endblock %}

{% block menu %}
    {% if request.user == album.author or request.user.is_staff %}
        {% if perms.webapp.change_album or album.author %}
            <a href="{% url "webapp:photo_create" %}">Добавить фото</a>
            <a href="{% url 'webapp:album_update' album.pk %}">Обновить</a>
        {% endif %}
        {% if perms.webapp.delete_album or album.author %}
            <a href="{% url 'webapp:album_delete' album.pk %}">Удалить</a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="box">
        <h3>Название: {{ album.name }}</h3>
        <h3>Новость:</h3>
        <p>{{ album.description }}</p>
        <p>Автор: <a href="{% url 'accounts:detail' album.author.pk %}"> {{ album.author }}</a></p>
        <p>Созданно: {{ album.created_at }} </p>
    </div>

    <h3>Фото:</h3>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% for photo in photos %}
        {% if photo.status == 'all' %}
            <div class="box">
                <h3><a href="{% url "webapp:photo_view" photo.pk %}">{{ photo.signature }}</a></h3>
                    <p>
                       <img src="{{ photo.photo_img.url }}" width="250" height="250"alt="photo">
                        <br>
                        {{ photo.signature }}
                    </p>
                <p>Автор: <a href="{% url 'accounts:detail' photo.author.pk %}"> {{ photo.author }}</a></p>
                <p>Созданно: {{ photo.created_at }}</p>
                <p>Статус: {{ photo.status }}</p>

                {% if perms.webapp.change_photo %}
                    <p><a href="{% url 'webapp:photo_update' photo.pk %}">Обновить</a></p>
                {% endif %}
                {% if perms.webapp.delete_photo %}
                    <p><a href="{% url 'webapp:photo_delete' photo.pk %}">Удалить</a></p>
                {% endif %}
                {% if user.is_authenticated %}
                    {% if photo|liked_by:user  %}
                        <a class="add hide" href="{% url 'api:favorites_add' photo.pk%}">
                            Добавить в избранное</a>
                        <a class=" remove " href="{% url 'api:favorites_remove' photo.pk%}">
                            Удалить из избранного</a>
                    {% else %}
                        <a class="add " href="{% url 'api:favorites_add' photo.pk%}">
                            Добавить в избранное</a>
                        <a class="remove hide" href="{% url 'api:favorites_remove' photo.pk%}">
                            Удалить из избранного</a>
                    {% endif %}
                {% endif %}
            </div>
        {% else %}
            <a>
            </a>
        {% endif %}
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
{% block scripts %}
{% endblock %}