{% extends 'base.html' %}
{% load staticfiles likes %}

{% block content %}
    <h1>Новости:</h1>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% for album in albums %}
        <div class="box">
            {% if request.user.is_authenticated %}
                <h3>Название: <a href="{% url "webapp:album_view" album.pk %}">{{ album.name }}</a></h3>
            {% else %}
                <h3>{{ album.name }}</h3>
            {% endif %}
            <p>Автор: <a href="{% url 'accounts:detail' album.author.pk %}"> {{ album.author }}</a></p>
            <p>Созданно: {{ album.created_at }} </p>
            {% if request.user == album.author or request.user.is_staff %}
                {% if perms.webapp.change_album or album.author %}
                    <p><a href="{% url 'webapp:album_update' album.pk %}">Обновить</a></p>
                {% endif %}
                {% if perms.webapp.delete_album or album.author %}
                    <p><a href="{% url 'webapp:album_delete' album.pk %}">Удалить</a></p>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
{% block scripts %}
{% endblock %}